<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="/homestyle.css">
    <title>Blog von Kati & Daniel</title>
</head>
<body>

<div class="title" th:fragment="basetop">
    <article class="title is-child notification is-primary">
        <p class="title has-text-centered">Blog</p>
        <p class="subtitle has-text-centered">Kati & Daniel</p>
    </article>
</div>

<nav th:fragment="navigation" class="navbar " role="navigation" aria-label="main navigation">
    <div class="navbar-brand">

    </div>

    <div id="navbarBasicExample" class="navbar-menu is-active">
        <div class="navbar-start">
            <a class="navbar-item" th:href="@{/}">
                Home
            </a>


            <div class="navbar-item has-dropdown is-hoverable">
                <a th:if="${sessionUser != null && sessionUser.admin}" class="navbar-link">
                    Admin
                </a>

                <div class="navbar-dropdown">

                    <a class="navbar-item" th:href="@{/beitrag}">
                        Write a post
                    </a>

                    <hr class="navbar-divider">
                    <a class="navbar-item" th:href="@{/allusers}">
                        List of users
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">

        </div>
        <div class="navbar-item">
            <div class="field is-grouped">
                <p class="control">
                <form th:if="${sessionUser != null}" method="post" th:action="@{/logout}">
                    <button class="button is-primary" type="submit">Logout</button>
                </form>
                </p>

                <p class="control">
                    <a th:href="@{/login}" th:if="${sessionUser == null}" class="button is-primary"
                       type="submit">Login</a>
                </p>

                <p class="control">
                    <a th:href="@{/register}" th:if="${sessionUser == null}" class="button is-primary" type="submit">Registration</a>
                </p>
            </div>
        </div>
    </div>
</nav>


<li th:fragment="basecomments" class="demo" th:each="einkommentar : ${beitrag.kommentare}">
    <article class="message">
        <div class="message-header">
            <strong th:text="${einkommentar.user.username}"></strong>

            <form th:if="${sessionUser != null && (sessionUser.admin || sessionUser.id == einkommentar.user.id )}"
                  method="post" th:action="@{/edit/{id}/deletecomment(id=${einkommentar.id})}">
                <button class="delete is-pulled-right is-small" aria-label="delete"></button>
            </form>
        </div>
        <div class="message-body">

            <span th:text="${einkommentar.text}"></span><br>
            posted at <span th:text="${#dates.format(einkommentar.postedAt)}"></span>
        </div>

    </article>
</li>


<footer th:fragment="basebottom" class="footer has-background-primary">
    <div class="content has-text-centered">
        <p>
            <strong>© 2019</strong> Katalin Kapás & Daniel Uhlmann. All rights reserved.
        </p>
    </div>
</footer>

</body>
</html>