<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/base.html :: head">
</head>
<body>

<div th:replace="/base.html :: basetop"></div>

<div th:replace="/base.html :: navigation"></div>

<hr>


<h1 class="subtitle has-text-centered has-text-weight-bold" th:if="${sessionUser.admin}">Edit your post</h1>

<div th:object="${beitrag}">
    <article class="message is-primary">
        <div class="message-header">
            <p th:text="${beitrag.user.username}"></p>
            <strong th:text="${beitrag.title}"> </strong><br>
            <form th:if="${user == sessionUser}" method="post" th:action="@{/beitragDelete(beitragId=${beitrag.id})}">
                <button class="delete" aria-label="delete" type="submit">Delete</button>
            </form>
        </div>
        <div class="message-body">
            <span th:text="${beitrag.text}"></span> </span><br>
        </div>
        posted at <strong th:text="${#dates.format(beitrag.postedAt)}"></strong> <br>
    </article>

</div>
<hr>


<form th:if="${sessionUser.admin}" th:object="${beitrag}" th:action="@{/edit/{id}/editedbeitrag(id=${beitrag.id})}"
      method="post">
    <strong> Titel: </strong><br>
    <textarea type="text" th:field="*{title}" class="textarea is-primary"></textarea><br/>
    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>

    <strong> Text: </strong><br>
    <textarea th:field="*{text}" class="textarea is-primary"></textarea>
    <p th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></p>
    <br>
    <button type="submit" class="button is-primary">Edit post</button>
</form>
<br>

<strong>Comments</strong>
<div th:replace="/base.html :: basecomments"></div>


<!--<li th:each="einkommentar : ${beitrag.kommentare}" class="demo">-->
<!--    <strong th:text="${einkommentar.user.username}"></strong>-->
<!--    <span th:text="${#dates.format(einkommentar.postedAt)}"></span> <br>-->
<!--    <span th:text="${einkommentar.text}"></span>-->

<!--    <form th:if="${sessionUser != null && (sessionUser.admin || sessionUser.id == einkommentar.user.id )}"-->
<!--          method="post" th:action="@{/edit/{id}/deletecomment(id=${einkommentar.id})}">-->
<!--        <button type="submit" class="button is-light">Delete</button>-->
<!--    </form>-->
<!--</li>-->
<hr>


<h1 class="subtitle has-text-centered has-text-weight-bold">Share your thoughts</h1>


<form th:object="${kommentar}" th:action="@{/edit/{id}/savekommentar(id=${beitrag.id})}"
      method="post">
    <strong>Comment:</strong><br>
    <textarea th:field="*{text}" class="textarea is-primary"> </textarea>
    <p th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></p><br>
    <button type="submit" class="button is-primary">Save comment</button>
</form>
</div>

<br>

<div th:replace="/base.html :: basebottom"></div>

</body>
</html>