<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/base.html :: head">
</head>

<body>

<div th:replace="/base.html :: basetop"></div>

<div th:replace="/base.html :: navigation"></div>

<hr>


<h1 class="subtitle has-text-centered has-text-weight-bold">Userlist</h1>


<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
    <tr>
        <th>Username</th>
        <th>Admin Status</th>
        <th>ID</th>
        <th>Add user as admin</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.admin}"></td>
        <td th:text="${user.id}"></td>
        <td>
            <form th:if="${sessionUser.admin}" method="post"
                  th:action="@{/profile/{username}/admin(username=${user.username})}">
                <button class="button is-danger is-centered" type="submit">Admin</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>


<br>

<div th:replace="/base.html :: basebottom"></div>

</body>
</html>